*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body
{
    background-image: url('C:/wamp64/www/fastnode/img/iphone.jpg');
    overflow: hidden;
    max-height: 667px;
    background: white;
    font-family: serif;
}

.icone
{
    color: rgb(56, 182, 255);
}

.btn_menu {
    display: block;
    width: 70px; 
    height: 70px;
    float: right; 
    cursor: pointer;
    background-color:#fff;
    margin: 5px;
    border: 1px double #fff;
    position: fixed;
}

.menu
{
    display: none;
    position: fixed;
    width: 200px;
    height: 667px;
    padding: 5px 2px;
    margin: 0px;
    background-color: rgb(56, 182, 255);
}

.container
{
    display: flex;
    width: 100%;
    height: 667px;
    margin: 0px auto;
    justify-content: center;
}

.cate{
    padding-top: 80px;
}

.lista{
    padding-top: 20%;
}

h2
{
    color: black;
    text-align: center;
}

h4
{
    color: black;
}

.areatexto2
{
    resize: none;
    width: 300px;
    height: 40px;
    border: 5px solid gray;
}

.areatexto3
{
    resize: none;
    width: 300px;
    height: 80px;
    border: 5px solid gray;
}

.button1
{
    background-color: #fff;
    border: 3px solid gray;
    font-size: 17px;
    width: 110px;
    margin-left: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button2
{
    background-color:rgb(56, 182, 255);
    border: 1px solid rgb(56, 182, 255);
    font-size: 30px;
    margin-top: 5px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.botoes
{
    cursor: pointer;
}

.negrito 
{ 
    font-weight: bold; 
}

.italico 
{
     font-style: italic; 
}

