body
{
    background-image: url('C:/wamp64/www/fastnode/img/iphone.jpg');
    background-size: cover;
}

h1
{
    color: #fff;
    text-align: center;
}

h3
{
    position: fixed;
    font-size: 1.75rem;
}

img
{
    display: block;
    width: 100%;
}

.div
{
    display: flex;
    width: 100%;
    height: 667px;
    align-items: center;
    justify-content: center;
}

.botao
{
    width: 120px;
    height: 120px;
    position: fixed;
}

.btn-primary
{
    background-color: rgb(56, 182, 255);
    border:rgb(56, 182, 255);
}

.btn_menu {

    display: block;
    width: 70px; 
    height: 70px;
    float: right; 
    cursor: pointer;
    background-color:#fff;
    margin: 5px;
    border: 1px double #fff;
    position: fixed;

}

.icone
{
    color: rgb(56, 182, 255);
}

.cancelar
{
    font-size: 30px;
    height: 50px;
    background-color: rgb(56, 182, 255);
    border: 1px solid rgb(56, 182, 255);
}

.criar
{
    font-size: 30px;
    height: 50px;
    background-color: rgb(56, 182, 255);
    border: 1px solid rgb(56, 182, 255);
    width: 100px;
    margin-left: 1.5em;
}

.areatexto
{
    resize: none;
    width: 300px;
    border: 1px solid black;
}

.estilo
{
    margin-top: 70px;
    position: fixed;
    align-self: flex-start;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.botoes
{
    position: fixed;
    align-self: flex-end;
    padding: 40px;
    display: inline-block;
    cursor: pointer;
}

.negrito 
{ 
    font-weight: bold; 
}

.italico 
{
     font-style: italic; 
}

.sublinhado
{
    text-decoration: underline; 
}

.menu
{
    display: none;
    position: fixed;
    width: 200px;
    height: 667px;
    padding: 5px 2px;
    margin: 0px;
    background-color: rgb(56, 182, 255);
}




